<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Lista de thumbprint (DEVE POSSUIR O PREFIXO trusted_root_) dos certificados raízes que serão aceitos na validação de assinaturas -->
    <!-- Essa lista deve ser atualizada sempre que houver um novo CERTIFICADO RAÍZ disponível pela ICP-BRASIL -->
    <!-- o CERTIFICADO deve ser instalado nos servidores e seu THUMBPRINT deve ser adicionado na listagem abaixo -->
    <add key="trusted_root_ICPBrasilV1" value="705d2b4565c7047a540694a79af7abb842bdc161" />
    <add key="trusted_root_ICPBrasilV2" value="a9822e6c6933c63c148c2dcaa44a5cf1aad2c42e" />
    <add key="trusted_root_ICPBrasilV5" value="4acadab14b74bf4fba7bace64b91801c44b8cc66" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
